<app-pagetitle title="Reports" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>


<div>
    <div class="card">
        <div class="card-body">
            <h5 class="font-size-16 mb-1">{{ group.group_admin.name }}</h5>
            <p class="text-muted font-size-13 mb-0">{{ group.group_admin.msisdn }}</p>
        </div>
    </div>

    <div class="card">
        <ngx-datatable 
            #table
            [externalPaging]="false" 
            (page)="setPage($event)" 
            [count]="rows.length" 
            [offset]="dataParams.page_num" 
            [limit]="dataParams.page_size" 
            [rows]="rows" 
            [rowHeight]="50" 
            [columnMode]="ColumnMode.force" 
            [headerHeight]="50" 
            [footerHeight]="50" 
            class="bootstrap core-bootstrap" 
        >
        <ngx-datatable-column name="Name" >
            <ng-template let-row="row" ngx-datatable-cell-template >
            {{row.first_name }} {{row.last_name }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Mobile"  prop="msisdn" ></ngx-datatable-column>
        <ngx-datatable-column name="ID Number"  prop="id_number" ></ngx-datatable-column>
        <ngx-datatable-column name="County"  prop="county_title" ></ngx-datatable-column>
        <ngx-datatable-column name="Sub County"  prop="sub_county_title" ></ngx-datatable-column>
        <ngx-datatable-column name="Ward"  prop="ward_name" ></ngx-datatable-column>
        <ngx-datatable-column name="More Details"  prop="more">
            <ng-template let-row="row" ngx-datatable-cell-template >
            <i class="fa-solid fa-eye text-success" style="font-size:20px;" (click)="view(row)"></i>
            </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
</div>