/* pagination.component.scss */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.page-item.active .page-link {
  color: #1f6e50;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
}
