/* You can add global styles to this file, and also import other style files */

.primary-color {
    color: #fcb43c;
}

.secondary-color {
    background-color: #1f6f50!important;
}

.text-secondary {
    color: #1f6f50!important;
}