<!-- start page title -->
<app-pagetitle
  title="Dashboard"
  [breadcrumbItems]="breadCrumbItems"
></app-pagetitle>
<!-- end page title -->

<div>
  <div class="card">
    <div class="card-body p-4">
      <div class="row">
        <div>
          <form [formGroup]="searchForm" class="col-lg-12 d-flex gap-1">
            <div class="row">
              <div class="col-xl col-md-6">
                <label for="example-datetime-local-input" class="form-label"
                  >Start Date</label
                >
                <input
                  class="form-control"
                  type="date"
                  placeholder="Start"
                  formControlName="startDate"
                  id="example-datetime-local-input"
                />
              </div>
              <div class="col-xl-2 col-md-6">
                <label for="example-datetime-local-input" class="form-label"
                  >End Date</label
                >
                <input
                  class="form-control"
                  type="date"
                  placeholder="End"
                  formControlName="endDate"
                  id="example-datetime-local-input"
                />
              </div>
              <div class="col-xl col-md-6">
                <label for="county">County</label>
                <ng-select
                  id="county"
                  [items]="counties"
                  [multiple]="true"
                  (change)="subCounties($event)"
                  [virtualScroll]="true"
                  bindLabel="name"
                  bindValue="county_id"
                  placeholder="County"
                  formControlName="countyId"
                >
                </ng-select>
              </div>
              <div class="col-xl col-md-6">
                <label for="county">Sub County</label>
                <ng-select
                  id="county"
                  [items]="sub_counties"
                  [multiple]="true"
                  (change)="getWards($event)"
                  [virtualScroll]="true"
                  bindLabel="name"
                  bindValue="subCountyId"
                  placeholder="Sub County"
                  formControlName="subCountyId"
                >
                </ng-select>
              </div>
              <div class="col-xl col-md-6">
                <label for="county">Ward</label>
                <ng-select
                  id="county"
                  (change)="filterGroups($event)"
                  [items]="wards"
                  [multiple]="true"
                  [virtualScroll]="true"
                  bindLabel="name"
                  bindValue="wardId"
                  placeholder="Ward"
                  formControlName="wardId"
                >
                </ng-select>
              </div>
              <div class="col-xl col-md-6">
                <label for="county">Group</label>
                <ng-select
                  id="county"
                  [items]="groups"
                  [multiple]="true"
                  [virtualScroll]="true"
                  bindLabel="group_name"
                  bindValue="group_id"
                  placeholder="Group"
                  formControlName="groupId"
                >
                </ng-select>
              </div>
              <div class="col-xl col-md-6 d-flex align-items-end">
                <button
                  (click)="search()"
                  style="
                    color: #fff;
                    margin-bottom: 2px;
                    background-color: #fbb43c;
                  "
                  class="btn w-100 btn-block mt-medium"
                  type="submit"
                >
                  search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div style="background-color: #1f6e50" class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-6">
            <span class="mb-3 lh-1 d-block text-truncate" style="color: white"
              >ToT</span
            >
            <h4 class="mb-3">
              <span
                [countUp]="ToTsNo"
                class="counter-value"
                style="color: white"
              ></span>
            </h4>
          </div>

          <div class="col-6">
            <!-- <apx-chart class="apex-charts" dir="ltr" [series]="walletlineChart.series" [chart]="walletlineChart.chart" [colors]="walletlineChart.colors" [stroke]="walletlineChart.stroke" [tooltip]="walletlineChart.tooltip">
                        </apx-chart> -->
          </div>
        </div>
        <!-- <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+$20.9k</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div> -->
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100" style="background-color: #fbb43c">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-6">
            <span class="mb-3 lh-1 d-block text-truncate" style="color: white"
              >Farmers</span
            >
            <h4 class="mb-3">
              <span
                [countUp]="totalMembers"
                class="counter-value"
                style="color: white"
              ></span>
            </h4>
          </div>
          <div class="col-6">
            <!-- <apx-chart class="apex-charts" dir="ltr" [series]="tradeslineChart.series" [chart]="tradeslineChart.chart" [colors]="tradeslineChart.colors" [stroke]="tradeslineChart.stroke" [tooltip]="tradeslineChart.tooltip">
                        </apx-chart> -->
          </div>
        </div>
        <!-- <div class="text-nowrap">
                    <span class="badge bg-danger-subtle text-danger">Groups</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div> -->
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100" style="background-color: #2e384c">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-6">
            <span class="mb-3 lh-1 d-block text-truncate" style="color: white"
              >Groups</span
            >
            <h4 class="mb-3">
              <span
                [countUp]="totalGroups"
                class="counter-value"
                style="color: white"
              ></span>
            </h4>
          </div>
          <div class="col-6">
            <!-- <apx-chart class="apex-charts" dir="ltr" [series]="investedlineChart.series" [chart]="investedlineChart.chart" [colors]="investedlineChart.colors" [stroke]="investedlineChart.stroke" [tooltip]="investedlineChart.tooltip">
                        </apx-chart> -->
          </div>
        </div>
        <!-- <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+ $2.8k</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div> -->
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100" style="background-color: #7ac2ad">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-6">
            <span class="mb-3 lh-1 d-block text-truncate" style="color: white"
              >Total Income</span
            >
            <h4 class="mb-3" style="color: white">
              <span
                [countUp]="totalIncome"
                class="counter-value"
                style="color: white"
              ></span
              >
            </h4>
          </div>
          <div class="col-6">
            <!-- <apx-chart class="apex-charts" dir="ltr" [series]="profitlineChart.series" [chart]="profitlineChart.chart" [colors]="profitlineChart.colors" [stroke]="profitlineChart.stroke" [tooltip]="profitlineChart.tooltip">
                        </apx-chart> -->
          </div>
        </div>
        <!-- <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div> -->
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>

<div class="row">
  <div class="col-xl-3">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center mb-4">
          <h5 class="card-title me-2">Farmers Gender Comparison</h5>
        </div>

        <div class="row align-items-center">
          <div class="col-xl-12">
            <div>
              <div
                style="max-height: 580px"
                echarts
                [options]="genderData"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
  <div class="col-xl-6">
    <div class="card card-h-100">
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center mb-4">
          <h5 class="card-title me-2">Value Chain Income Graph</h5>
        </div>
      </div>
      <div id="line-area" class="lineArea">
        <apx-chart
          [series]="chartOptions?.series"
          [chart]="chartOptions?.chart"
          [xaxis]="chartOptions?.xaxis"
          [legend]="chartOptions.legend"
        ></apx-chart>
      </div>
    </div>
    <!-- end row -->
  </div>
  <div class="col-xl-3">
    <div class="card bg-primary text-white shadow-primary card-h-100">
      <!-- card body -->
      <div class="card-body p-0">
        <div
          id="carouselExampleCaptions"
          class="carousel slide text-center widget-carousel"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <!-- Carousel with caption -->

            <!-- End carousel -->
          </div>
          <!-- end carousel-inner -->
        </div>
        <!-- end carousel -->
      </div>
      <!-- end card body -->
    </div>
  </div>
  <!-- end col -->
</div>

<div class="row">
  <div class="col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center mb-4">
          <h5 class="card-title me-2">Farms VCL Involvement</h5>
        </div>

        <div class="row align-items-center">
          <div class="col-xl-12">
            <div>
              <apx-chart
                [series]="monthlyChart.series"
                [chart]="monthlyChart.chart"
                [legend]="monthlyChart.legend"
                [xaxis]="monthlyChart.xaxis"
                [yaxis]="monthlyChart.yaxis"
                [grid]="monthlyChart.grid"
                [stroke]="monthlyChart.stroke"
                [tooltip]="monthlyChart.tooltip"
                [plotOptions]="monthlyChart.plotOptions"
                [colors]="monthlyChart.colors"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center mb-4">
          <h5 class="card-title me-2">Counties Income & Farmers Summary</h5>
        </div>
        <apx-chart
          [series]="countyReport.series"
          [chart]="countyReport.chart"
          [yaxis]="countyReport.yaxis"
          [xaxis]="countyReport.xaxis"
          [labels]="countyReport.labels"
          [stroke]="countyReport.stroke"
          [title]="countyReport.title"
          [dataLabels]="countyReport.dataLabels"
          [colors]="countyReport.colors"
          [tooltip]="countyReport.tooltip"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title me-2">Farmer Trainings</h5>
    </div>

    <div class="row align-items-center">
      <apx-chart
        [series]="trainingChart.series"
        [chart]="trainingChart.chart"
        [legend]="trainingChart.legend"
        [xaxis]="trainingChart.xaxis"
        [yaxis]="trainingChart.yaxis"
        [grid]="trainingChart.grid"
        [stroke]="trainingChart.stroke"
        [tooltip]="trainingChart.tooltip"
        [plotOptions]="trainingChart.plotOptions"
        [colors]="trainingChart.fill.colors"
      ></apx-chart>
    </div>
  </div>
</div>
